.card {
    overflow: hidden;
    /*padding: 5px;*/
    box-shadow: 0 2px 20px lightgray;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.card:hover {
    transform: scale(1.02);
}

.card-img {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.card-title {
    padding: 1rem;
}

.card-description {
    padding: 0 1rem;
}

.card-button {
    padding: 1rem;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #f2ee56;
    background-color: transparent;
    border-radius: 10px;
    transition: background 200ms ease-in, color 200ms ease-in;
}

.card-button:hover{
    background-color: #f2ee56;
}



