.searchbar {
    margin-top: 100px;
    margin-right: 550px;
}

.searchbar input {
    border-radius: 10px;
    border: 1px solid black;
    padding: 8px 16px;
    outline: none;
    width: 300px;
}

.searchbar button {
    border-radius:10px;
    border: 1px solid #f2ee56;
    margin: 5px;
    padding: 8px 16px;
    background-color: #f2ee56;
    color: white;
    cursor: pointer;
    outline: none;
}

